@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Our Blog!</h1>
        <p class="lead">Discover amazing content and insights from our community.</p>
        <hr class="my-4">
        <p>Join us on our journey to share knowledge and stories. Dive into our latest blog posts!</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Blogs")" role="button">Explore Blogs</a>
    </div>
</div>

